
body {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 90%);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.form-container{
    border-radius:15px;
    margin: 50px;
    height: 550px;
    width: 500px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}

a{
    all: unset;
    width: 108%;
    text-align: center;
}

h1 {
    text-align: center;
    color:black;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 14px;
}

.next-btn a{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 14px;
}
.next-btn{
    width: 108%;
    margin-top: 15px;
    display: flex;
}
.next-btn a:hover{
    background-color: darkolivegreen;
}

#confirmation {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
