body{
    margin-top: 10%;
    display: grid;
    place-items: center;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 90%);
}
.card-size-l{
height: 400px;
width: 80%;
}